body {
    margin: 0;

    color: #fff;
    font-family: Monospace;
    font-size: 16px;
    line-height: 24px;
    overscroll-behavior: none;
}

a {
    color: #ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

canvas {
    display: block;
}

a,
button,
input,
select {
    pointer-events: auto;
}

.overlayText {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;


    display: block;
}

#overlay {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

.gui-button {
    position: absolute;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font: 13px sans-serif;
    text-align: center;
    opacity: 0.5;
    outline: none;
    z-index: 999;
    cursor: pointer;
    width: 25%;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.gui-button-left {
    left: 20px;
    position: absolute;
    bottom: 20px;
    padding: 12px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font: 13px sans-serif;
    text-align: center;
    opacity: 0.5;
    outline: none;
    z-index: 999;
    cursor: pointer;
    right: calc(80% - 50px);
    width: 100px;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.wrapper {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

button {
    position: fixed;
    height: 4vh;
    width: 14vh;
    border: solid 2px;
    border-color: black;
    background-color: transparent;
    color: black;
    z-index: 10;

    /* Makes the text unzoomable and unselectable */
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:active {
    /* Button background color changes to grey when held */
    background-color: rgb(212, 212, 212);
}

#up {
    bottom: 18vh;
    left: 37.5%;
    display: none;
    user-select: none;
    /*font-size: 50px;*/
}

#down {
    bottom: 8vh;
    left: 37.5%;
    display: none;
    user-select: none;
    /*font-size: 50px;*/
}

#left {
    bottom: 13vh;
    left: 6.25%;
    display: none;
    user-select: none;
    /*font-size: 50px;*/
}

#right {
    bottom: 13vh;
    right: 6.25%;
    display: none;
    user-select: none;
/*    font-size: 50px;*/
}

#water {
    bottom: 13vh;
    left: 37.5%;
    display: none;
    user-select: none;
    /*font-size: 25px;*/
}

div {
    /* Makes the text unzoomable and unselectable */
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#instructions {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}


.throttleContainer {
    z-index: 999;
    position: absolute;
    right:  6.25%;
    bottom: 23vh;
    padding: 0 5px;
    height: 25px;
    width: 150px;
}



.slider
{

    writing-mode: bt-lr; /* IE */
    -webkit-appearance: none; /* Chromium */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    
    -webkit-transform:rotate(270deg);

}

.slider::-moz-range-track {
    
  width: 25px;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: rgb(255, 255, 255);
  opacity: 0.5;  
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: rgb(255, 255, 255);
  opacity: 0.5;  
  cursor: pointer; 
}