body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 16px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

a, button, input, select {
	pointer-events: auto;
}

#overlay {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.gui-button {
        right: 20px;
        position: absolute;
        bottom: 20px;
        padding: 12px 6px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.1);
        color: rgb(255, 255, 255);
        font: 13px sans-serif;
        text-align: center;
        opacity: 0.5;
        outline: none;
        z-index: 999;
        cursor: pointer;
        left: calc(80% - 50px);
        width: 100px;
      }